*{
    width:100%
}

#cardsContainer {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.eventCard {
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    color: black;
}

.cover {
    width: 100%;
}

.cover img {
    object-fit: cover;
    border-radius: 10px;
    z-index: 1;
}

.informations {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
}