* {
    width: 100%
}

#cardsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.eventCard {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    color: black;
    gap: 10px;
    align-items: center;
}

.cover {
    width: 100%;
}

.cover img {
    object-fit: cover;
    border-radius: 10px;
    z-index: 1;
}

.alwaysVisible,
.seeMoreInfos,
.shortInfos {
    display: flex;
    flex-direction: column;
    width: 100%;

    & p {
        text-align: justify;
    }
}