#searchBarContainer {
  display:flex;
  flex-direction: column;
  margin: 0;
}

#searchBar {
    padding : 5px;
    width: 100%;
    color: black;
    background-color: white;
    border-radius: 20px;
}
